.main {
    margin-top: 3px;
    border: 1px solid darkgray;
    border-radius: 10px;
    padding-bottom: 10px;
}
.row {
    text-align: left;
    margin-left: 10px;
    cursor: pointer;
    text-decoration: underline; 
}
.unvisited {
    color: #1976d2;
}
.visited {
    color: #795cb2;
}
.rowTitle {
    border-bottom: 1px solid darkgray;
    text-align: center;
}


@media only screen and (max-width: 400px) {
    .main {
        width: 100vw; 
    }
}
